/*------Fonts family for whole site------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*----------------Common----------------*/
body{
    font-family: 'Poppins', sans-serif;
    
}




/*----------------Header Section----------------*/
.header {
    display: flex;
    height: 677px;
    background-color: #2D25A0;
}
.header-left{
position: absolute;
width: 485px;
height: 230px;
left: 156px;
top: 207px;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
a{
padding: 10px 24px;
width: 168px;
height: 44px;
left: 156px;
top: 464px;
background: #E02C6D;
text-decoration: none;
color: #FFFFFF;
}
.header-right{
position: absolute;
width: 556.01px;
height: 438px;
left: 1299.01px;
top: 153px;
}




