/*------Fonts family for whole site------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/*----------------Common----------------*/
body{
    font-family: 'Poppins', sans-serif;
    
}




/*----------------Header Section----------------*/
.header {
    display: flex;
    height: 677px;
    background-color: #2D25A0;
    animation-name: bg;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes bg {
    0%   {background-color:blue;}
  25%  {background-color:yellow;}
  50%  {background-color:blue; }
  75%  {background-color:green; }
  100% {background-color:blue;}
  }
.header-left{
position: absolute;
width: 485px;
height: 230px;
left: 156px;
top: 207px;
align-items: center;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}
a{
padding: 10px 24px;
width: 168px;
height: 44px;
left: 156px;
top: 464px;
background: #E02C6D;
text-decoration: none;
color: #FFFFFF;
transition-duration: 500ms;
}
a:hover{
    background: #5e0224;   
}
.header-right{
position: absolute;
width: 556.01px;
height: 438px;
left: 700px;
top: 153px;
align-items: center;
transition: width 2s, height 2s, transform 2s;

}
.header-right:hover {
    width: 606px;
    height: 488px;
  }
    
.header-right img{
    width: 110%;
    height: 110%;
}


/*----------------Grid-Content-Section----------------*/

.players{
    display: grid;
    justify-content: center;
    grid-template-columns: 350px 350px 350px; 
    grid-gap: 35px;
    padding-top: 50px;
    padding-bottom: 50px;  
}
.single-player{
display: flex;
flex-direction: column;
padding: 15px;
width: 300px;
height: 474px;
left: 180px;
top: 747px;
background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.single-player img{
width: 300px;
height: 256px;
}
.single-player h2{
font-size: 28px;
font-weight: bold;
line-height: 40px;
color: #18191F;
margin-bottom: 0%;
}
.single-player p{
    color: #6C6C6C;
}



/*----------------Footer-Section----------------*/
footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
width: 483.87px;
height: 413px;
left: 475px;
top: 3000px;
}
footer img{
width: 483.87px;
height: 110px;
}
footer >h2 >a{
    font-size: 14px;
    background-color: #e7e4e4; 
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: #6C6C6C;

}
footer >h2 >p{
    font-size: 24px;
}

/*----------------
  Media-Queries
----------------*/


/*---Mobile-Devices---*/
@media only screen and (max-width:669px) {
/*---Header---*/
.header{
display: flex;
flex-direction: column;
margin: 0%;
padding-right: 1%;
width: 460px;
height: 695px;
}
.header-left{
    position: absolute;
    width: 285px;
    height: 230px;
    left: 40px;
    top: 150px;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
}
.header-right{
    position: absolute;
    width: 556.01px;
    height: 438px;
    left: 40px;
    top: 450px;
    align-items: center;
    }
.header-right img{
    width: 50%;
    height: 50%;
}
/*---Content---*/
.players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    width: 50%;
    height: 50%;
}




}
